.header {
    background-color: rgba(240, 248, 255, 0.063);
    margin-top: 1rem;
}

.header-pages {
    margin-top: 1rem;
    background-color: #605555;
}

.nombre-sitio {
    color: #FCDABB;
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    span {
        font-size: .8rem;
        text-align: center;
    }
}
.color-principal {
    color: aliceblue;
}