@media (max-width:768px){
    
    .pie-pagina{
     font-size: 1rem;
     padding-top: 1rem;
    }
    .parrafo-dos{
     display:flex;
     flex-direction: column;
    }
    .contenedor img{
    padding-top: 10rem;
    }
    
    main{
      
        padding-top:100px;
        height: 800px;
        padding-bottom:100px;
    }
    .container-c{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      max-width: 100%;
    }
   
      .inferior-c{
        flex-direction: column;
        max-width: 100%;
        flex:2;
      }
      .container-c-text{
        width: 100%;
      }
    .footer-c{
      flex:1;
      margin-top: 380px;
    }
    .img-c{
      img{
        width: 70%;
        margin-left:0
      }
    }
   
    .item {
        img {
          width: 50%;
        }
      }
      .shampo{
        width: 18%;
      }
   }