@media (max-width:768px){
  main{
      
    padding-top:100px;
    height: auto;
    padding-bottom:100px;
}
    .pie-pagina{
     font-size: 1rem;
     padding-top: 1rem;
    }
    .parrafo-dos{
     display:flex;
     flex-direction: column;
    }
    .contenedor img{
    padding-top: 10rem;
    }
    
   
    .container-c{
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
   
    .credit-c {
      @include flex(center,center);
      background-color: #FCDABB;
      width: 35%;
      border-radius: 5px;
      padding: .5rem;
      margin-bottom: .6rem;
      img {
          width: 10%;
          margin-right: .625rem;
      }
  }
      .inferior-c{
        flex-direction: column;
        width: 100%;
        flex:2;
      }
      .container-c-text{
        width: 100%;
      }
    .footer-c{
      flex:1;
      margin-top: -50px;
    }
    .img-c{
      img{
        width: 70%;
        margin-left:0
      }
    }
   
    .item {
        img {
          width: 50%;
        }
      }
      .shampo{
        width: 18%;
      }
   }