@media (max-width:390px){
    .fondo{
      background-position: cover;
      height: 100vh;
    }
    .nombre-sitio{
      margin-left: 1rem;
    }
   .pie-pagina{
    font-size: .8rem;
    padding-top: 1rem;
   }
  
   .contenedor{
    text-align: center;
   }
   .parrafo-dos{
    display: none;
    flex-direction: column;
   }
   .card-container{
    flex-direction: column;
   }
   .item {
    img {
      width: 50%;
    }
  }
  .shampo{
    width: 30%;
  }
 main{
  padding-top: 0;

  img{
    background-image: cover;
  }
 }
 .footer-c {
  position:relative;
  z-index: 1;
  text-align: center;
}
 .footer-o{
  margin-top: 850px;
  position: relative;
   }

   .footer-h{
    margin-top:-60px;
    position: relative;
     }
     .superior-c {
      @include flex(center,center);
      padding-top: 4rem;
      margin-bottom: 2.3rem;
  }
  
  .container-c {
      
      width:50;
  }
  
  .container-c-text {
      flex-direction: column;
      width: 100%;
      margin-left: 0;
      
  }
  
  .img-c {
      img {
     
      width: 100%;
  }}
  
  
  .text-c {
      font-size: .625rem;
      margin-top: .6rem;
     
  }
  
  .number {
      font-size: 1rem;
  }
  
  .text-c-dos {
      font-size: .5625rem;
      width: 70%;
      margin-left:0;
      color: #3a363696;
  }
  
  .credit-c {
      @include flex(center,center);
      background-color: #FCDABB;
      width: 100%;
      border-radius: 5px;
      padding: .5rem;
      margin-bottom: .6rem;
      img {
          width: 10%;
          margin-right: .625rem;
      }
  }
  
  .inferior-c {
      display: flex;
      justify-content: center;
      background-color: #3A3636;
      width: 100%;
      height: auto;
      color: #FBF6F6;
      position: relative;
  }
  
  .title-inf {
      padding-top: 1rem;
      font-size: 1.6rem;
      margin-left: 3rem;
  }
  
  .datos {
      @include flex(start,none);
      margin-left: 3rem;
      margin-top: 1rem;
      color: #FBF6F6;
      font-size: .8rem;
      img {
          width:10%;
          margin-right: .5rem;
      }
  }


   
  }