@media (max-width:768px){
    
    .pie-pagina{
     font-size: 1rem;
     padding-top: 1rem;
    }
    .parrafo-dos{
     display:flex;
     flex-direction: column;
    }
    .contenedor img{
    padding-top: 10rem;
    }
    
    main{
        padding-top:100px;
        height: 700px;
        padding-bottom:100px;
    }
   }